<section class="mt-20 main-wrapper" style="max-width:700px "><br>
 
		<section class="item-list-group fl" style="padding: 20px; text-align: center; line-height: 180%"><br>

			<span style="font-size:18px">Thanks for Creating/ Updating</span><br><br>Your Product has been created/ updated successfully. Pleae go to update list to update more
			<br><br>
			<button id="placeorder" name="placeorder" class="btn btn-primary"><a href='/updateProductList/'>Update More</a></button><br><br>


		</section>




    </section>