<section class="mt-20 main-wrapper" style="max-width:700px "><br>
 
		<section class="item-list-group fl" style="padding: 20px; text-align: center; line-height: 180%"><br>

			<span style="font-size:18px">Thanks for Placing Order</span><br><br>
			Your Basket of Fresh Fruits/Vegetables will be delivered to you on <br> November 15, 2016 between 10:30 AM to 11:30AM<br><br>
			<button id="placeorder" name="placeorder" class="btn btn-primary"><a href='/'>Continue Shopping</a></button><br><br>


		</section>




    </section>