<section class="main-wrapper page-content">
<div class="section-header">
  <h3 class="section-header__title">About Paalak.in</h3>
</div><br>


<div class="rte">
  <meta charset="utf-8"><meta charset="utf-8">
<div id="yiv6814063243yui_3_16_0_ym19_1_1472626148753_39395">Paalak.in is a for-profit company with a mission to make agriculture a profitable business for farmers. Though our business is about building supply-chain efficiencies by simplifying a fragmented supply chain, farm-to-fridge in under 14 hours after plucking the produce and bringing in technology to increase farm produce; however, what we love the most is humane part of this work, which is 'farmer social upliftment'. 

<br><br>Paalak.in enables farmers to sell their produce directly to end consumers via stores in Delhi, thereby ensuring customers gets quality and fresh produce without layers of middlemen. Most of our produce comes from Ganga belt thereby removing any chance of adulteration either directly to the produce or via contaminated water used for irrigation. Our collection centres are based in villages and work directly with farmers in the areas of high yield crops, crop-rotation, self-sustainable farming, usage of low-cost &amp; healthy organic manure and above all, help them sell produce at the right price. This helps our consumers get fresh produce directly from farmers, without any form of adulteration. Paalak.in is creating farmer-consumer ecosystem where stores and online platforms are enablers. Wherein, we are helping farmers to adopt newer methods and use of technology to increase their ROI per acre of land.
</div><br>

<div>
What started as a class project at MIT Sloan is now a mission to facilitate symbiotic relationship between the mankind and our environment on a global scale. We are a bunch of professionals from the fields of e-commerce, consumer Internet, IT services, digital marketing services and agriculture equipment &amp; services.</div>
<div dir="ltr" id="yiv6814063243yui_3_16_0_ym19_1_1472626148753_39399"></div>
</div>
</section>

        