<section class="main-wrapper page-content">
          <div class="section-header">
  <h3 class="section-header__title">Bulk Supplies</h3>
</div><br>


<div class="rte">
  <p>We do bulk supplies to Retailers, Restaurants, Hotels, Institutional buyers and Industrial Canteens. Our promise to our bulk or B2B buyers is three fold:</p>
<ol style="margin-left: 20px">
<li>Correct Weight</li>
<li>Unbeatable Prices</li>
<li>Fresh Farm Quality</li>
</ol>
<p>Please call us at 011-39588188 or write to us at care@paalak.in for bulk supply enquiries.&nbsp;</p>
</div>
</section>

      