<section class="main-wrapper page-content">
          <div class="section-header">
  <h3 class="section-header__title">Call @ 01139588188</h3>
</div><br>


<div class="rte">
  <p>We suggest that you order online or send order list on whatsapp but we are always a call away to order on phone or share feedback on the order.</p>
<p>Our call centre timings are <strong>8AM to 8 PM</strong> everyday, we are eager to serve you and deliver fresh fruits and vegetables at your doorstep.</p>
</div>
</section>

   