<section class="main-wrapper page-content">
          <div class="section-header">
  <h3 class="section-header__title">Refund &amp; Cancellation Policy</h3>
</div><br>


<div class="rte">
  <meta charset="utf-8">
<p><strong>Cancellations:</strong> <br>1. The order can be cancelled within 30 minutes since we initiate despatch process and hence cancelation will not be possible. <br>2. However we still encourage you to get in touch with us so that we can solve your concern in the best manner possible. <br>3. Please call at 01139588188 or send message by Whatsapp @9999026353 for urgent cncellations.</p><br>
<p><strong>Returns</strong> <br>1. Since our fresh produce is perishable in nature, we offer free return and replacement if informed within 24 hours. <br>2. To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging. <br>3. To Initiate your return, kindly write to care@paalak.in; call at 011-39588188 or send Whatsapp message to 9999026353.</p><br>
<p><strong>Refunds (if applicable)</strong> <br>1. Once your return is received and inspected, we will approve or disapprove the return based on condition of item received. <br>2. If your return is approved, then either your refund is processed or replacement produce is sent to you within next 24 hours.</p><br>
<p><strong>Late or missing refunds (if applicable)</strong> <br>1. If you haven’t received a refund yet, first check your bank account again. <br>2. Then contact your credit card company, it may take some time before your refund is officially posted. <br>3. Next contact your bank. There is often some processing time before a refund is posted. <br>4. If you’ve done all of this and you still have not received your refund yet, please contact us at care@paalak.in&nbsp;</p>
</div><br>
</section>

      