<section class="main-wrapper page-content">
<div class="section-header">
  <h3 class="section-header__title">Whatsapp@9999026353</h3>
</div><br>


<div class="rte">
  <h4>
<img src="//cdn.shopify.com/s/files/1/1444/0862/files/whatsapp_large.jpeg?v=1477129680" alt="whatsapp" width="22" height="23">&nbsp;We have brought&nbsp;ordering of Fresh Fruits &amp; Vegetables, right at your fingertips.</h4>
<p>Please add <strong>9999026353</strong> in your contacts and find the smoothest way to order Fresh Fruits &amp; Vegetables.</p>
<ol style="margin-left: 20px">
<li>
<strong>Ask for Items list &amp; Rates</strong>: Send message "</strong>Send your list of available items with rates</strong>", you will receive the Paalak.in updated rate list on your whatsapp</li>
<li>
<strong>Re-order your regular list of fruits &amp; vegetables</strong>: Simply copy and paste your last order and re-send after changing quantities, if there are changes.</li>
<li>
<strong>Send message in following format</strong>:</li>
</ol>
<div style="color: #777; margin-left: 5px">
<p>Hari Sadu,<br>07007, 10th floor, ATS One Hamlet, Sec-104, Noida<br>harisadu@gmail.com</p>
<p>Preferred Delivery time: 2 PM on 15th Nov</p>
<p>1. Potato - 2 Kgs (Medium size pieces, sugarfree)</p>
<p>2. Apple Royal - 2 Kgs</p>
<p>3. Onion - 1 Kgs (no small pcs pls)</p>
<p>4. Broccoli - 1/2 Kgs&nbsp;</p>
<p>5. Cauliflower - 1 Kgs (medium sized pcs)</p>
<p>6. Bottle Gourd (Ghiya) - 1 Kgs</p>
<p>7. English Cucumber - 1/2 Kgs</p>
</div>	
<p>Instructions: Please call prior to coming for delivery</p>
<p><strong><em>Now, whatsapp your way to get fresh vegetables and fruits at your doorstep!</em></strong></p>

</div>
</section>

     